style.css
#large{
    width:100%;
    background-color:lightgrey
}


.topnav{
    
    overflow: hidden;
    background-color:lightslategrey
    
  }

  .topnav a {
    
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 23px;
  }


  #inner{
      float: right;
  }

  #largecontainer{
      background-color:whitesmoke;
      height:750px;
  }



  


  li {    
    display: inline;
    
  }


 



#first{
    font-size: 50px;
    padding-top: 70px;
}

#again{
    font-size: 25px;
}


}
    




#smallcontainer{
    float: right;
    margin-left: 135px;
    height: 480px;
    width:500px;
    background-color:whitesmoke
}
img{
    float:left;
    margin-top: 0px;
    margin-right:0px;
    width: 30%;
    height: 5%;
}





#containerz{
    background-color:gray
    height:750px;

}

#line1{
    text-align:center;
    padding-left: 360px;
    padding-right: 280px;
    font-size: 65px;
}
